.G{
    color: rgb(236, 127, 143);
}
.nav-head{
    display: flex;
justify-content:space-between;
background-color:rgb(254, 252, 252);
align-items: center;
height: 80px;
}
.logo{
margin-bottom: 30px;
text-align: center;
display: flex;
padding-left: 140px;
gap: 5px;
}
.about{
    display: flex;
    gap: 20px;
    height: 100px;
    align-items: center;
    font-size: 18px;
font-style: normal;
font-weight: 500;
}
.follow{
    display: flex;
    gap: 5px;
    align-items: center;
    background-color: rgb(245, 239, 239,0.9);
    height: 50px;
    width: 180px;
    border-radius: 5px;
    padding-left: 15px;
    font-size:normal;
    
}
.logo img{
    padding-top: 20px;
}
.logo h3{
    color: #3C354F;
text-align: center;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.post-1{
    display:flex;
    gap: 5px;
}
button{
    color: #FFF;
font-family: Work Sans;
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
gap: 10px;
border-radius: 48px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
border: none;
}
.btn-2{
   background: rgb(114, 197, 230);
}
.goat{
font-family: Work Sans;
font-size: 45px;
font-style: normal;
font-weight: 800;
line-height: normal;
text-transform: uppercase;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.banner{
    display: flex;
    justify-content:space-around;
    background: #FFF;
}
#play{
    color: #0B0223;
text-align: center;
font-family: Work Sans;
font-size: 30px;
font-style: normal;
font-weight:550;
line-height: normal;
text-transform: uppercase;
margin-right: -15px;
}
#play{
    margin-right:100px;
}